<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ScreenInvader</title>
    <script src="./bundle.js"></script>
    <link rel="stylesheet" href="./theme/style.css">
    <link rel="stylesheet" href="node_modules/humane-js/themes/flatty.css">
  </head>
  <body>
    <header>
      <div id="search"></div>
      <div id="controls"></div>
    </header>
    <div id="playlist"></div>
    <script id="template-playlist" type="x-tmpl-underscore">
     <ul>
     <% _.each(items, function(item, current) { %>
       <li id="<%= current %>" data-id="<%= current %>"
       class="<%= isActive(current, index) %>
                     <%= oddEven(current) %>">
       <div>
       <a class="item" href="#<%= current %>"><%= item.title %></a>
       <a class="remove">X</a>
       <a class="expand">...</a>
       </div>
       <div class="expanded">
          <a href="<%= item.source %>">Website</a>
          <a href="<%= item.url %>">Download</a>
       </div>
       </li>
       <% }); %>
     </ul>
    </script>
    <script id="template-controls" type="x-tmpl-underscore">
     <% _.each(actions, function(action) { %>
       <a href="#" id="<%= action %>" class="icon action"><%= action %></a>
       <% }); %>
     <input id="volume" type="range" min="0" max="100" value="<%= volume %>" />
    </script>
    <script id="template-search" type="x-tmpl-underscore">
     <form>
     <input id="search-url" type="text"
     placeholder="Post something!">
     <input id="search-submit" type="submit" value="Go!" disabled>
     </form>
     <div class="results"></div>
    </script>
    <script id="template-search-results" type="x-tmpl-underscore">
     <div id="search-results">
       <div class="bar"><a class="close" href="#">X</a></div>
       <ul>
       <% _.each(items, function(item) { %>
         <li data-link="<%= item.url %>">
         <a class ="item" href="#"><%= item.title %>
         (<%= inMinutes(item.duration) %>)
           </a>
         </li>
         <% }); %>
       </ul>
     </div>
    </script>
    <script id="template-search-providers" type="x-tmpl-underscore">
     <p>Enter an URL directly or search interactively by entering a search
     providers name or alias followed by your search terms.
                                                           "<code>yt Metalab</code>", for example, searches YouTube for
     "Metalab". The following providers are available:</p>
     <% _.each(items, function(item) { %>
       <ul>
       <li>
       <%= item.name %> (<strong><%= item.alias %></strong>)
         </li>
       <% }); %>
     </ul>
    </script>

  </body>
</html>
