@import "font/vt323.css";
html,
body {
  margin: 0.5em;
}
body,
input {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  color: #008000;
  background-color: #121212;
}
body > header,
#playlist {
  max-width: 42em;
  margin: 0 auto;
}
body > header .container,
#playlist .container {
  display: flex;
}
#playlist ul div {
  display: inline-block;
  width: 100%;
}
#playlist ul li div .item {
  display: inline-block;
}
#playlist ul li div .remove {
  float: right;
}
#search input {
  font-size: 2em;
  border: 0.1em dashed #008000;
}
#search-results .bar {
  text-align: right;
  background-color: #008000;
  margin-top: 10px;
}
#search-results .close {
  padding: 5px;
  color: #121212;
  cursor: "pointer";
}
#search-results ul {
  height: 300px;
  background-color: #181818;
  margin: 0;
  overflow-y: scroll;
}
#controls {
  display: flex;
  align-items: center;
}
#controls .icon {
  display: inline-block;
  white-space: nowrap;
  margin-right: 1em;
}
#controls a {
  text-decoration: none;
  color: #008000;
}
#controls a:hover {
  color: #00e600;
}
#controls #volume {
  display: inline-block;
  width: 50%;
}
#controls #play.icon::before {
  content: '|> ';
}
#controls #pause.icon::before {
  content: '|| ';
}
#controls #stop.icon::before {
  content: '[] ';
}
#controls #previous.icon::before {
  content: '<< ';
}
#controls #next.icon::before {
  content: '>> ';
}
ul {
  border: 0.1em dashed #008000;
  list-style-type: none;
  padding-left: 0;
}
li {
  border-bottom: 0.1em dashed #008000;
}
li:last-of-type {
  border-bottom: none;
}
li a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #008000;
}
li a:hover {
  color: #00e600;
}
li.active {
  background-color: #008000;
}
li.active:hover {
  background-color: #00e600;
}
li.active a {
  color: #121212;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  cursor: pointer;
  background-color: #008000;
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  border: 0;
  border-radius: 0;
  height: 16px;
  width: 10px;
  background-color: #008000;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  height: 5px;
  cursor: pointer;
  background-color: #008000;
  border: 0;
}
input[type=range]::-moz-range-thumb {
  border: 0;
  border-radius: 0;
  height: 16px;
  width: 10px;
  background: #008000;
  cursor: pointer;
}
