body {
    font-family: sans-serif;
}

/* Playlist */

#playlist .odd { background-color: #ddd; }
#playlist .active { background-color: yellow; }
#playlist ul {
    list-style-type: none;
    padding-left: 0;
}
#playlist ul li {
    padding: 0.5em;
}
#playlist ul li a {
    text-decoration: none;
    color: inherit;
}


/* Controls */

#controls .icon {
	display: inline-block;
    padding: 0.2em;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
    text-indent: -10000px;
}
#controls a.icon {
   text-decoration: none;
   color: inherit;
}

#pause.icon { width: 32px; height: 32px; background-position: -48px 0;}
#stop.icon { width: 32px; height: 32px; background-position: -96px 0;}
#previous.icon { width: 32px; height: 32px; background-position: -144px 0;}
#next.icon { width: 32px; height: 32px; background-position: -192px 0;}
#volume-medium.icon { width: 32px; height: 32px; background-position: -240px 0;}
#volume-mute.icon { width: 32px; height: 32px; background-position: -288px 0;}
#volume-increase.icon { width: 32px; height: 32px; background-position: -336px 0;}
#volume-decrease.icon { width: 32px; height: 32px; background-position: -384px 0;}